@model Cosmos.ViewModels.PriceListView
@{
    ViewData["Title"] = "Home Page";
}

<h2>Details</h2>

<dl>
    <dt>
        @Html.DisplayNameFor(model => model.id)
    </dt>
</dl>
<h1>@Model.id</h1>
<p>@Model.validUntil</p>
<p>@Model.dateAdded</p>